USE [master]
GO
/****** Object:  Database [For_Shurick]    Script Date: 14.06.2022 21:42:35 ******/
CREATE DATABASE [For_Shurick]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'For_Shurick', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\For_Shurick.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'For_Shurick_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\For_Shurick_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [For_Shurick].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [For_Shurick]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14.06.2022 21:42:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nchar](50) NULL,
	[Password] [nchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Login], [Password]) VALUES (1, N'admin                                             ', N'123                                               ')
INSERT [dbo].[Users] ([Id], [Login], [Password]) VALUES (2, N'shurick                                           ', N'228                                               ')
INSERT [dbo].[Users] ([Id], [Login], [Password]) VALUES (3, N'penis                                             ', N'pizda                                             ')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
